.contact .contact-form,
.contact-index ul{
  max-width: 500px;
}
.contact h2{
  color: rgb(45, 89, 211);
}
.contact .contact-form label,
.contact-show label{
  display: inline-block;
  width: 70px;
}
.contact .contact-menu form{
  display: inline-block;
}
